/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-size: 12px;
	background-color: #f0f2f5;
	font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.lgcls {
	color: #1877f2;
	font-size: 14px;
	font-weight: 500;
}

li a:hover {
	text-decoration: underline;
	color: #8a8d91;
}
li {
	color: #8a8d91;
	@apply mr-5;
}
.copyright {
	color: #737373;
	@apply py-5;
}
